# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Environment variables / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Testing / cache
# =========================
.pytest_cache/
.coverage

# =========================
# IDEs / editors
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db